In [2]:
# Maths Function in Python

import math

In [5]:
# variables
x = 12
y = 10
n = 100

In [6]:
# Built-in Maths Functions

# min() and max()
print(min(x,y))
print(max(x,y))

10
12

In [8]:
# Built-in Maths Functions

# abs() returns the absolute (pos) value
print(abs(-7.242))

7.242

In [10]:
# Built-in Maths Functions

# pow(x,y) returns the value of x to the power of y(X^y)

print(pow(x,y))

61917364224

In [12]:
# Built-in Maths Functions

# sqrt() returns the square root
print(math.sqrt(n))

10.0

In [15]:
# Built-in Maths Functions

# ceil() and floor() returns the nearest upper and lower number resp.
print(math.ceil(10.5))
print(math.floor(10.6))

11
10

In [15]:
# Built-in Maths Functions

# math.pi returns constant pi value of 3.14
print(math.ceil(10.5))
print(math.floor(10.6))

11
10

In [16]:
#JSON in python 

import json

In [17]:
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

#parse x:
y = json.loads(x)

# the result will be dict
print(y["age"])

30

In [18]:
# Convert from Python to Json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert to json using dump
y = json.dumps(x)

print(y)

{"name": "John", "age": 30, "city": "New York"}

In [21]:
# Convert Python objects into JSON strings, and print the values:/
print(json.dumps({"name": "John", "age": 30})) #dict
print(json.dumps(["apple", "bananas"])) #list
print(json.dumps(("apple", "bananas"))) #tuple
print(json.dumps("hello")) #string
print(json.dumps(42)) #int
print(json.dumps(31.76)) #float
print(json.dumps(True)) #bool True
print(json.dumps(False)) #bool False
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [34]:
# Converting Python object to JSON
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4,sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [ ]:
#Task One
# Create a loop to add or subtract days from a data given by the user

import datetime
from datetime import datetime,timedelta

userDate = input("Enter date in 'YYYY-MM-DD'")
user_date = datetime.strptime(userDate, '%Y-%m-%d')
new_date = datetime(1,1,1,0,0)
try:
    
    while True:
        UserInput = int(input("Enter 1 to Add \nEnter 2 to subtract \n0 to exits"))
        if UserInput ==1:
            add_days = int(input("Enter Number of Days"))
            new_date = user_date + timedelta(days=add_days)
            print(new_date)
        elif UserInput ==2:
            sub_days = int(input("Enter number of days"))
            new_date = x - timedelta(days=sub_days)
            print(new_date)
        elif UserInput ==0:
            break
except:
    print("Enter a proper Date")

In [82]:
# MAP, FILTER , LAMBDA in list

# map

# defining function 
def cube(x):
    return x*x*x
#generating list using range

list1 = list(range(-10,10))
list1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
# using map 
cube = list(map(lambda x: cube(x),list1))
cube

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729]

In [85]:
#filter is used to create list of elements for which a function returns

evenlist = list(filter(lambda x: (x%2==0),cube))
evenlist

[-1000, -512, -216, -64, -8, 0, 8, 64, 216, 512]

In [86]:
#Write a code that takes the range from the user and returns a list of positive and even numbers only.

a = int(input("Lower Bound"))
b = int(input("Upper bound"))

numbers = list(range(a,b))
c = list(filter(lambda x: (x>0 and x%2==0),numbers))
c

Lower Bound -10
Upper bound 10

[2, 4, 6, 8]

In [91]:
# Generate alist of numbers and use reduce() method along with lambda function to find the sum of sqaures of all in list
import functools

numberlist = list(range(1,11))
squared_list = list(map(lambda x: (x*x),numberlist))
gen_list = functools.reduce(lambda a,b: a+b,squared_list)
gen_list

385

In [96]:
# Calculating Total Age
age_list = [12,32,3,31,30,32,43,12,43,32,43,45,12,49]

total_age = functools.reduce(lambda a,b:a+b,age_list)
print(total_age)

419

In [97]:
# Manipulating Nested Lists:

# flattening the list or extracting ele meeting certain criteria


number_list = [] 
  
for i in range(5): 
      
    # Append an empty sublist inside the list 
    number_list.append([]) 
      
    for j in range(5): 
        number_list[i].append(j) 
          
print(number_list)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [99]:
flatten_matrix = []

for sublist in number_list:
    for val in sublist:
        flatten_matrix.append(val)

print(flatten_matrix)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]