#####
DATE :- 01.12.2023 BASICS AND PATTERN

In [55]:
num1 = int(input("Enter a number to check whether the number is Positive or Negative"))
if num1>=0 and num1<=9:
    print("One Digit Number")
elif num1>=10 and num1<=99:
    print("Two Digit Number")
elif num1>=100 and num1<=999:
    print("Three Digit Number")

Enter a number to check whether the number is Positive or Negative 40

Two Digit Number

In [59]:
math = int(input("Enter marks for Maths: "))
physics = int(input("Enter marks for physics"))
chemistry = int(input("Enter marks for Chemistry"))
cs = int(input("Enter marks for Computer Science"))
grade = "Student Scored"
total = math+physics+chemistry+cs
percentage = (total/400) * 100
if percentage>90:
    print(grade+" A")
elif percentage>80 and percentage<90:
    print(grade+"B")
elif percentage>70 and percentage<80:
    print(grade+" C")
elif percentage>60 and percentage<70:
    print(grade+" D")
elif percentage>35 and percentage<60:
    print(grade+" E")
elif percentage<=35:
    print(grade+ " F")

Enter marks for Maths:  5
Enter marks for physics 10
Enter marks for Chemistry 100
Enter marks for Computer Science 100

Student Scored E

In [70]:
import random
#rock -1
#paper - 2
# sicssor - 3
userinput = int(input("Enter number between rock -1 , paper - 2 and sicssor - 3"))
computerinput = random.randint(1,3)
#computer output
if computerinput==1:
    print("Computer: Rock")
elif computerinput==2:
    print("Computer: Paper")
elif computerinput==3:
    print("Computer: Scissor")
#result analysis
if(userinput ==1 and computerinput ==1):
    print("Equals")
elif userinput ==2 and computerinput ==2:
    print("Equals")
elif userinput ==3 and computerinput ==3:
    print("Equals")
elif userinput ==1 and computerinput ==2:
    print("Computer Wins")
elif userinput ==1 and computerinput ==3:
    print("User Wins")
elif userinput ==2 and computerinput ==1:
    print("User Wins")
elif userinput ==2 and computerinput ==3:
    print("Computer Wins")
elif userinput==3 and computerinput==1:
    print("User Wins")
elif userinput==3 and computerinput==2:
    print("Computer Wins")

Enter number between rock -1 , paper - 2 and sicssor - 3 3

Computer: Rock
User Wins

In [71]:
num1=int(input())
num2 = int(input())
num3 = int(input())
if num1>num2:
    if num1>num3:
        print("Num1 is Greatest")
if num2>num1:
    if num2>num3:
        print("Num2 is Greatest")
if num3>num1:
    if num3>num2:
        print("Num3 is Greatest")

 30
 20
 40

Num3 is Greatest

In [72]:
num1=int(input())
num2 = int(input())
num3 = int(input())
if num1>num2 and num1>num3:
    print("num1 is greatest")
elif num2>num1 and num2>num3:
    print("num2 is greatest")
elif num3>num1 and num3>num2:
    print("Num3 is greatest")

 20
 120
 10

num2 is greatest

In [74]:
num1=int(input())
num2 = int(input())
num3 = int(input())
print(max(num1,num2,num3))

 10
 20
 30

30

In [78]:
num1=  int(input())
num2 = int(input())
num3 = int(input())
if num1>num2>num3:
    print(num1)
elif num2>num1>num3:
    print(num2)
elif num3>num2>num1:
    print(num3)

 20
 40
 60

60

In [80]:
x = {"name" : "John", "age" : 36}
print(x)

{'name': 'John', 'age': 36}

In [173]:
import random


for i in range(10):
    n = random.randint(0, 10)
    if n==0:
        print(n)

0

In [175]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of itemno. {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of itemno. 567.

In [178]:
name = "Jeet Shah"
print(name.find("Shah"))

5

In [181]:
x = ["apple","microsoft","wipro","l&t","reliance"]
print("tcs" not in x)

True

In [184]:
a = 33
b = 200

if b > a:
    pass

In [29]:
num1 = int(input("Enter the number"))

for i in range(2,num1*2,2):
    print(i)

Enter the number 10

2
4
6
8
10
12
14
16
18

In [27]:
num1 = int(input("Enter the number"))

for i in range(1,num1*2,2):
    print(i)

Enter the number 5

1
3
5
7
9

In [26]:
num1 = int(input("Enter the number"))

for i in range(1,num1+1):
    print(i*i)

Enter the number 5

1
4
9
16
25

In [25]:
num1 = int(input("Enter the number"))
for i in range(1,num1+1):
    print(i*i*i)

Enter the number 10

1
8
27
64
125
216
343
512
729
1000

In [50]:
num1 = int(input("Enter the number"))
for i in range(num1,0,-2):
    print(i)

Enter the number 10

10
8
6
4
2

In [20]:
num1 = int(input("Enter the number"))
for i in range(1,num1*2,2):
    print(i)

Enter the number 5

1
3
5
7
9

In [34]:
user = int(input("Enter number"))

var1 = 1
while var1<=user:
    print(var1)
    var1 = var1 + 1

Enter number 5

1
2
3
4
5

In [35]:
user = int(input("Enter number"))

var1 = 0
while var1<=user:
    var = var1 * var1
    print(var)
    var1= var1+1

Enter number 10

0
1
4
9
16
25
36
49
64
81
100

In [44]:
user = int(input("Enter number"))

a =2
while a<=(user*2):
    print(a)
    a = a+2

Enter number 5

2
4
6
8
10

In [40]:
user = int(input("Enter number"))

a =1
while a<(user*2):
    print(a)
    a = a+2

Enter number 10

1
3
5
7
9
11
13
15
17
19

In [43]:
user = int(input("Enter number"))

a =1
while a<=user:
    b= a*a*a
    
    print(b)
    a= a + 1

Enter number 5

1
8
27
64
125

In [48]:
#15,13,11,9
user = int(input("Enter number"))

while user>0:
    print(user)
    user = user-2

Enter number 5

5
3
1

In [49]:
user = int(input("Enter number"))
a = 1
while a<=user*2:
    print(a)
    a = a+2

Enter number 10

1
3
5
7
9
11
13
15
17
19

In [85]:
num = int(input("Enter Number to Check whether the number os Prime or  not::"))

if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter Number to Check whether the number os Prime or  not:: -3

-3 is not a prime number

In [139]:
num = 5
for i in range(num):
    for j in range(i+1):
        print("*", end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [122]:
num = int(input("Enter Number for Star Printing"))
for i in range(num+1,0,-1):
    for j in range(i-1):
        print("*", end=" ")
    print("")

Enter Number for Star Printing 5

* * * * *
* * * *
* * *
* *
*

In [146]:
h = int(input("Enter Number :"))
for i in range(1,h+1):
    print(i*"* ")

Enter Number : 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [159]:
h = int(input("Enter Number :"))
for i in range(h,0,-1):
    print(i*"* ")

Enter Number : 10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [151]:
h = int(input("Enter Number :"))
for i in range(1,h+1):
    print((h-i)*" ",i*"*")

Enter Number : 5

     *
    **
   ***
  ****
 *****

In [157]:
h = int(input("Enter Number :"))
for i in range(h,0,-1):
    print((h-i)*" ",i*"*")

Enter Number : 5

 *****
  ****
   ***
    **
     *

In [175]:
h = int(input("Enter Number :"))
for i in range(1,h):
    print((h-i)*" ",i*"* ")
for i in range(h,0,-1):
    print((h-i)*" ",i*"* ")

Enter Number : 5

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [201]:
str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (((Row == 0 or Row == 6) and Col >= 0 and Col <= 6) or Row+Col==6):  
            str=str+"*"    
        else:      
            str=str+" "    
    str=str+"\n"    
print(str);

*******
     *
    *
   *
  *
 *
*******

In [2]:
n = int(input("Enter Number of Rows:"))
for i in range(n):
    print("*", end=" ")

Enter Number of Rows: 4

* * * *

In [10]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print((str(n)+" ")*n)

Enter Number of Rows for Square: 4

4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

In [12]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print((str(i+1)+" ")*n)

Enter Number of Rows for Square: 4

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [13]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print("A "*n)

Enter Number of Rows for Square: 5

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [15]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print((chr(65+i)+" ")*(i+1))

Enter Number of Rows for Square: 4

A
B B
C C C
D D D D

In [18]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print("* "*(n-i))

Enter Number of Rows for Square: 4

* * * *
* * *
* *
*

In [19]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    for j in range(n-i):
        print(j+1, end=" ")
    print()

Enter Number of Rows for Square: 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [21]:
n = int(input("Enter Number of Rows for Square:"))
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')*(i+1))

Enter Number of Rows for Square: 10

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5
    6 6 6 6 6 6
   7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [23]:
n = int(input("Enter number for Rows:"))

for i in range(n):
    print(" "*(n-i-1),end="")
    for j in range(i+1):
        print(chr(64+n-j), end=" ")
    print()

Enter number for Rows: 5

    E
   E D
  E D C
 E D C B
E D C B A

In [26]:
n = int(input("Enter number for Rows:"))

for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

Enter number for Rows: 5

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [29]:
# To Print inverted pyramid pattern with alphabet symbols in dictionary order
n = int(input("Enter number for Rows:"))

for i in range(n):
    print(" "*i, end="")
    for j in range(n-i):
        print(chr(65+j), end=" ")
    print()

Enter number for Rows: 4

A B C D
 A B C
  A B
   A

In [32]:
#To Print Diamond pattern with * symbol

n = int(input("Enter number of rows"))
for i in range(n):
    print(" "*(n-i-1)+'* '*(i+1))
for i in range(n-1):
    print(" "*(i+1)+"* "*(n-i-1))

Enter number of rows 4

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [36]:
#To Print Right Half Diamond Pattern with * Symbol

n = int(input())
for i in range(n):
    print("* "*(i+1))
for i in range(n-1):
    print("* "*(n-i-1))

 4

*
* *
* * *
* * * *
* * *
* *
*

In [53]:
#To Print Left Half Diamond Pattern with * symbol

n= int(input())
for i in range(n):
    print(" "*(n-i-1)+"*"*(i+1)) 
for i in range(n-1):
    print(" "*(i+1)+"*"*(n-i-1))

 4

   *
  **
 ***
****
 ***
  **
   *

In [1]:
#To Print Half Hollow Diamond Pattern

n = int(input("Enter number of rows"))

for i in range(n):
    print("  "*(n-i-1),"* ",end="")
    if i>=1:
        print("  "*(2*i-1),"* ",end="")
    print()

Enter number of rows 4

       *
     *    *
   *        *
 *            *

In [7]:
#To Print Hollow Diamond Pattern

n = int(input("Enter number of rows"))

for i in range(n):
    print("  "*i,"* ",end="")
    if i !=(n-1):
        print("  "*(2*n-2*i-3),"* ",end="")
    print()

Enter number of rows 5

 *                *
   *            *
     *        *
       *    *
         *

In [16]:
#To Print Whole Hollow Diamond Pattern

n = int(input("Enter number of rows"))

for i in range(n-1):
    print("  "*(n-i-1),"* ",end="")
    if i>=1:
        print("  "*(2*i-1),"* ",end="")
    print()
for i in range(n):
    print("  "*i,"* ",end="")
    if i !=(n-1):
        print("  "*(2*n-2*i-3),"* ",end="")
    print()

Enter number of rows 20

                                       *
                                     *    *
                                   *        *
                                 *            *
                               *                *
                             *                    *
                           *                        *
                         *                            *
                       *                                *
                     *                                    *
                   *                                        *
                 *                                            *
               *                                                *
             *                                                    *
           *                                                        *
         *                                                            *
       *                                                                *
     *                                                                    *
   *                                                                        *
 *                                                                            *
   *                                                                        *
     *                                                                    *
       *                                                                *
         *                                                            *
           *                                                        *
             *                                                    *
               *                                                *
                 *                                            *
                   *                                        *
                     *                                    *
                       *                                *
                         *                            *
                           *                        *
                             *                    *
                               *                *
                                 *            *
                                   *        *
                                     *    *
                                       *

In [1]:
li = [2,23332,'dffd',23,5633,2.32]
print(li)

[2, 23332, 'dffd', 23, 5633, 2.32]

In [3]:
print(type(li))

<class 'list'>

In [4]:
li[2]

'dffd'

In [6]:
li[2]=2332
li

[2, 23332, 2332, 23, 5633, 2.32]

In [9]:
for i in li:
    print(i,end=" ")

2 23332 2332 23 5633 2.32

In [12]:
li[2:4]

[2332, 23]

In [13]:
li[2:6:2]

[2332, 5633]

In [15]:
li[:4]

[2, 23332, 2332, 23]

In [16]:
li[4:0:-1]

[5633, 23, 2332, 23332]

In [17]:
li[-4:-1]

[2332, 23, 5633]

In [18]:
li

[2, 23332, 2332, 23, 5633, 2.32]

In [20]:
li.append("bscs")
li

[2, 23332, 2332, 23, 5633, 2.32, 'bscs', 'bscs']

In [21]:
li.pop()

'bscs'

In [22]:
li

[2, 23332, 2332, 23, 5633, 2.32, 'bscs']

In [23]:
li.insert(2,"jeet")

In [24]:
li.remove(23)

In [26]:
for i in li:
    print(i, end=" ")

2 23332 jeet 2332 5633 2.32 bscs

In [29]:
a = [2,3,4,5,52,1,42,2,534687,3,23,675,3,463,37,22,72,463,73,26,7,3,6]
a.sort()
print(a)

[1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 7, 22, 23, 26, 37, 42, 52, 72, 73, 463, 463, 675, 534687]

In [31]:
a.sort(reverse=True)
a

[534687,
 675,
 463,
 463,
 73,
 72,
 52,
 42,
 37,
 26,
 23,
 22,
 7,
 6,
 5,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 1]

###
Tuple
###

In [32]:
t = ('sd',23,324,24,24,'hdj')
t

('sd', 23, 324, 24, 24, 'hdj')

In [33]:
print(type(t))

<class 'tuple'>

###
DICTONARY
####

In [36]:
d={
    'a':324,
    'b':500,
    'c':600
}
print(d)

{'a': 324, 'b': 500, 'c': 600}

In [37]:
d['b']

500

In [40]:
for i in d:
    print(i)

a
b
c

In [41]:
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [42]:
print(d.values())

dict_values([324, 500, 600])

In [44]:
for i in d.items():
    print(i)

('a', 324)
('b', 500)
('c', 600)

In [45]:
for i in d.values():
    print(i)

324
500
600

In [46]:
for i in d.keys():
    print(i)

a
b
c

In [47]:
d.pop('a')

324

In [48]:
d.popitem()

('c', 600)

In [49]:
d.clear()

In [52]:
d.update({'a':500,'b':600})
d

{'a': 500, 'b': 600}

In [53]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "Salary":8000,
    "City":"Vadodara"
}

In [54]:
sampleDict={
    "class":{
        "student":{
            "name":"Mike",
            "marks":{
                "physics":70,
                "history":80
            }
        }
    }
}

In [56]:
print(sampleDict)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}

In [57]:
### SET ###
a={976,2323,23,42,2,245,245,24}
print(a)

{976, 2, 2323, 245, 23, 24, 42}

In [58]:
a.add(232)

In [59]:
a

{2, 23, 24, 42, 232, 245, 976, 2323}

In [61]:
a.update({3434,23,90,95,34,97,54,2,2323})
print(a)

{2, 976, 2323, 23, 24, 90, 95, 97, 34, 232, 42, 3434, 245, 54}

In [63]:
#Task to Convert Dict to Two Lists

dict={
    'a':200,
    'b':300,
    'c':400
}
keylist=dict.keys()
valuelist=dict.values()

In [67]:
for i in keylist:
    print(i,end=" ")
print()
for i in valuelist:
    print(i, end=" ")

a b c
200 300 400

In [138]:
# Task to convert List into Dictionary

keylist=['a','b','c']
valuelist=[500,600,700]
d1={}
for i in range(len(keylist)):
    d1.update({keylist[i]:valuelist[i]})

In [140]:
print(d1.items())

dict_items([('a', 500), ('b', 600), ('c', 700)])

In [135]:
d1.keys()
d1.values()

dict_values([500, 600, 700])

In [86]:
#Task to Find the Length of List without using InBUilt Functions

list1=[1,2,3,4,5,23,23452,4]
pos=0
for i in list1:
    pos = pos+1
print("Length of the List is:",pos)

Length of the List is: 8

 bhautik

b
b  h
b  h  a
b  h  a  u
b  h  a  u  t
b  h  a  u  t  i
b  h  a  u  t  i  k

In [204]:
#Task is to create a dictionary with key and its value wihth its square

n = int(input("Enter number:"))
dict = {}
for i in range(n):
    dict.update({int(i):int(i*i)})
print(dict)

Enter number: 5

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [239]:
# Task to Merge Dictonary into one
dict1 = {
    'a':23,
    'b':25
}
dict2 = {
    'c':24,
    'd':26
}
dict3={
    'e':27
}
dict_list = [dict1,dict2,dict3]
dict4= {}


for i in dict_list:
    dict4.update(i)
dict4

{'a': 23, 'b': 25, 'c': 24, 'd': 26, 'e': 27}

In [214]:
# Task to merge dictionary

dict1 = {
    'a':23
}
dict2 = {
    'b':20
}
dict2.update(dict1)
dict2

{'b': 20, 'a': 23}

CRUD Operations:
1. Create (C)
2. Read (R)
3. Update (U)
4. Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  C
Enter key for new entry:  Jeet
Enter value for new entry:  2000

Entry added: Jeet: 2000

CRUD Operations:
1. Create (C)
2. Read (R)
3. Update (U)
4. Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  0

Exiting program...

In [277]:
#CRUD Operation on dictionary

data = {}

while True:
    print("\nCRUD Operations:")
    print("Create (C)")
    print("Read (R)")
    print("Update (U)")
    print("Delete (D)")
    print("0. Exit")

    choice = input("Enter your choice (C/R/U/D/0): ")

    if choice == "C":
        key = input("Enter key ")
        value = input("Enter value")
        data[key] = value
        print(f"Entry added: {key}: {value}")
    elif choice == "R":
        key = input("Enter key to retrieve value: ")
        if key in data:
            print(f"Value for {key}: {data[key]}")
        else:
            print("Key not found in dictionary")
    elif choice == "U":
        key = input("Enter key to update value: ")
        value = input("Enter new value: ")
        data[key] = value
        print(f"Value updated for {key}")
    elif choice == "D":
        key = input("Enter key to delete entry: ")
        if key in data:
            del data[key]
            print(f"Entry for {key} deleted")
        else:
            print("Key not found in dictionary")
    elif choice == "0":
        print("Exiting program...")
        break
    else:
        print("Invalid choice. Please enter C, R, U, D, or 0.")

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  C
Enter key  jeet
Enter value 12342

Entry added: jeet: 12342

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  U
Enter key to update value:  jeet
Enter new value:  30

Value updated for jeet

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  U
Enter key to update value:  jeet
Enter new value:  555CR

Value updated for jeet

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  R
Enter key to retrieve value:  jeet

Value for jeet: 555CR

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  D
Enter key to delete entry:  jeet

Entry for jeet deleted

CRUD Operations:
Create (C)
Read (R)
Update (U)
Delete (D)
0. Exit

Enter your choice (C/R/U/D/0):  0

Exiting program...

In [317]:
# Task to Filter the List

UserInput = input("Enter the value:")

list1 = ['Jeet', 'Shah', 'Flowers', 'Guava', '1', '2', '3']
for index, value in enumerate(list1):
    if value == UserInput:
        print(index)
        break

Enter the value: Jeet

0

In [23]:
#Factorial using loop

n = int(input(""))
fact=1
for i in range(n+1):
    if i!=0:
        fact = fact*i
print("Factorial :",fact)

 10

Factorial : 3628800