# Pandas Exercises from W3 Resource

In [4]:
# Write a Pandas program to delete the 'attempts' column from the DataFrame.

import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data,index = labels)
print("Original Dataset")
print(df)
print("Deleted 'Attempts' from the DatFrame")
df.pop('attempts')
print(df)

Original Dataset
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Deleted 'Attempts' from the DatFrame
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [8]:
# Write a Pandas program to delete the 'attempts' column from the DataFrame.
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data,index = labels)
print("Original Dataset")
print(df)
print("Data Set With added Column Color")
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print(df)

Original Dataset
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Data Set With added Column Color
        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [10]:
#21. Write a Pandas program to iterate over rows in a DataFrame.
for index,row in df.iterrows():
    print(row['name'],row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5
James nan
Emily 9.0
Michael 20.0
Matthew 14.5
Laura nan
Kevin 8.0
Jonas 19.0

In [20]:
# 22. Write a Pandas program to get list from DataFrame column headers.
import pandas as pd
print("The columns of Dataframe")
print(df.columns)
print(list(df.columns.values))

The columns of Dataframe
Index(['name', 'score', 'attempts', 'qualify', 'color'], dtype='object')
['name', 'score', 'attempts', 'qualify', 'color']

In [31]:
# 23. Write a Pandas program to rename columns of a given DataFrame
import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.read_csv('dataset/data.csv')
print(df)
# df.columns = ['Dur','Pul','Max','Calories']
df = df.rename(columns={'Duration': 'Dur'})
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
     Dur  Pulse  Maxpulse  Calories
0     60    110       130     409.1
1     60    117       145     479.0
2     60    103       135     340.0
3     45    109       175     282.4
4     45    117       148     406.0
..   ...    ...       ...       ...
164   60    105       140     290.8
165   60    110       145     300.0
166   60    115       145     310.2
167   75    120       150     320.4
168   75    125       150     330.4

[169 rows x 4 columns]

In [34]:
# 24. Write a Pandas program to select rows from a given DataFrame based on values in some columns.
import pandas as pd
import numpy as np
print("The selected Column with duration greater than 60")
print(df[df['Dur']==60])

The selected Column with duration greater than 60
     Dur  Pulse  Maxpulse  Calories
0     60    110       130     409.1
1     60    117       145     479.0
2     60    103       135     340.0
5     60    102       127     300.0
6     60    110       136     374.0
..   ...    ...       ...       ...
157   60    100       120     270.4
158   60    114       150     382.8
164   60    105       140     290.8
165   60    110       145     300.0
166   60    115       145     310.2

[79 rows x 4 columns]

In [37]:
# 25. Write a Pandas program to change the order of a DataFrame columns
import pandas as pd
import numpy as np
print("Original DataFrame")
print(df)
print("The columns Altered")
df = df[['Calories','Maxpulse','Pulse','Dur']]
print(df)

Original DataFrame
     Dur  Pulse  Maxpulse  Calories
0     60    110       130     409.1
1     60    117       145     479.0
2     60    103       135     340.0
3     45    109       175     282.4
4     45    117       148     406.0
..   ...    ...       ...       ...
164   60    105       140     290.8
165   60    110       145     300.0
166   60    115       145     310.2
167   75    120       150     320.4
168   75    125       150     330.4

[169 rows x 4 columns]
The columns Altered
     Calories  Maxpulse  Pulse  Dur
0       409.1       130    110   60
1       479.0       145    117   60
2       340.0       135    103   60
3       282.4       175    109   45
4       406.0       148    117   45
..        ...       ...    ...  ...
164     290.8       140    105   60
165     300.0       145    110   60
166     310.2       145    115   60
167     320.4       150    120   75
168     330.4       150    125   75

[169 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np

d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)

print("Original DataFrame:")
print(df)

# Adding one row at the end
df2 = {'col1': 10, 'col2': 11, 'col3': 12}
df.append(df2)

print("\nDataFrame after adding one row:")
print(df.append(df2))
###################################ERRROEOEEEEEERRRRR####################

In [58]:
# Write a Pandas program to write a DataFrame to CSV file using tab separator.
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame")
print(df)
print("Data from new_file.csv")
# Converting Dataframe to csv using pyton pandas library
df.to_csv('dataset/new_file.csv',sep=',', index = False)
new_df = pd.read_csv('dataset/new_file.csv')
print(new_df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Data from new_file.csv
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [25]:
# Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).

import pandas as pd
import numpy as np
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['Vadodara', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

g1 = df1.groupby(["city"]).size().reset_index(name="Number of People")
print(g1)

          city  Number of People
0   California                 3
1      Georgia                 2
2  Los Angeles                 4
3     Vadodara                 1

In [27]:
import pandas as pd
import numpy as np
g1 = df1.groupby(["city"]).size().reset_index(name="Number of People")
print(g1)

          city  Number of People
0   California                 3
1      Georgia                 2
2  Los Angeles                 4
3     Vadodara                 1

In [54]:
import pandas as pd
import numpy as np
g1 = df1.groupby(["city"]).size().reset_index(name="Number of People")
print(g1)

          city  Number of People
0   California                 3
1      Georgia                 2
2  Los Angeles                 4
3     Vadodara                 1

In [70]:
# Write a Pandas program to delete DataFrame row(s) based on given column value.
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame")
print(df)
print("Deleted DataFrame row based")
df = df[df.col2 > 5]
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Deleted DataFrame row based
   col1  col2  col3
2     3     6     9
3     4     7     0
4     5     8     1

In [98]:
### 30. Write a Pandas program to widen output display to see more columns
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
df = pd.read_csv('dataset/employee_performance.csv')
# print(df)
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print(df)

         Employee Department     Month  Rating
0        John Doe      Sales  Jan-2023     4.2
1        John Doe      Sales  Feb-2023     4.5
2        John Doe      Sales  Mar-2023     4.1
3        John Doe      Sales  Apr-2023     4.3
4        John Doe      Sales  May-2023     4.6
5        John Doe      Sales  Jun-2023     4.4
6      Jane Smith  Marketing  Jan-2023     4.0
7      Jane Smith  Marketing  Feb-2023     3.8
8      Jane Smith  Marketing  Mar-2023     3.9
9      Jane Smith  Marketing  Apr-2023     4.2
10     Jane Smith  Marketing  May-2023     4.1
11     Jane Smith  Marketing  Jun-2023     4.3
12  Emily Johnson         HR  Jan-2023     4.5
13  Emily Johnson         HR  Feb-2023     4.6
14  Emily Johnson         HR  Mar-2023     4.4
15  Emily Johnson         HR  Apr-2023     4.8
16  Emily Johnson         HR  May-2023     4.7
17  Emily Johnson         HR  Jun-2023     4.9
18  William Brown         IT  Jan-2023     3.9
19  William Brown         IT  Feb-2023     4.1
20  William Brown         IT  Mar-2023     4.0
21  William Brown         IT  Apr-2023     3.8
22  William Brown         IT  May-2023     4.0
23  William Brown         IT  Jun-2023     4.2

In [100]:
# 32. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

print("Oiriginal DataFrame")
print(df)
print("Replacing all the Nan Values with zeroes \n")
df = df.fillna(0)
print(df)

Oiriginal DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Replacing all the Nan Values with zeroes

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes