In [13]:
# 50. Write a Pandas program to sort a given DataFrame by two or more columns.
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 12.2, 9, 20, 14.5, 15.2, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
print("Sorting Values using Attempts and Name")
df = df.sort_values(['attempts','name'], ascending=[True,True])
print(df)

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   12.2         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   15.2         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Sorting Values using Attempts and Name
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
9      Jonas   19.0         1     yes
7      Laura   15.2         1      no
6    Matthew   14.5         1     yes
4      Emily    9.0         2      no
2  Katherine   16.5         2     yes
8      Kevin    8.0         2      no
1       Dima    9.0         3      no
3      James   12.2         3      no
5    Michael   20.0         3     yes

In [15]:
#51 Write a Pandas program to convert the datatype of a given column(floats to ints).
import pandas as pd

print(df.dtypes)

df.score = df.score.astype(int)
print(df)
print(df.dtypes)

name        object
score        int32
attempts     int64
qualify     object
dtype: object
        name  score  attempts qualify
0  Anastasia     12         1     yes
9      Jonas     19         1     yes
7      Laura     15         1      no
6    Matthew     14         1     yes
4      Emily      9         2      no
2  Katherine     16         2     yes
8      Kevin      8         2      no
1       Dima      9         3      no
3      James     12         3      no
5    Michael     20         3     yes
name        object
score        int32
attempts     int64
qualify     object
dtype: object

In [16]:
# Datetime Series Example and Test

import pandas as pd
import numpy as np
pdt = pd.date_range(start="2024-01-22",end="2029-01-22",freq="D")
# print(len(pdt))
v = np.random.random(size=len(pdt))
df = pd.DataFrame({"value": v},index=pdt)
print(df)

               value
2024-01-22  0.321041
2024-01-23  0.667199
2024-01-24  0.008505
2024-01-25  0.283320
2024-01-26  0.984259
...              ...
2029-01-18  0.310093
2029-01-19  0.459313
2029-01-20  0.961541
2029-01-21  0.766609
2029-01-22  0.750703

[1828 rows x 1 columns]

In [22]:
# 57. Write a Pandas program to count number of columns of a DataFrame.
import pandas as pd
import numpy as np
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print("Number of Columns of a Dataframe")
print(len(df.columns))

Number of Columns of a Dataframe
3

In [ ]:
import pandas as pd