In [3]:
import pandas as pd
import numpy as np

s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])
print("Upper")
print(s.str.upper())
print("Lower")
print(s.str.lower())

Upper
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object
Lower
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

In [7]:
import pandas as pd

color1 = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])

print("Remove WhiteSpaces")
print(color1.str.strip())
print("Remove Left Sided Spaces")
print(color1.str.lstrip())
print("Remove Right Sided Spaces")
print(color1.str.rstrip())

Remove WhiteSpaces
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')
Remove Left Sided Spaces
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')
Remove Right Sided Spaces
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [12]:
import pandas as pd
nums = {'amount': [10, 250, 3000, 40000, 500000]}
df = pd.DataFrame(nums)
print('Leading Zeros ')
df['amount'] = df['amount'].apply(lambda x: '{0:0>8}'.format(x))
print(df)

Leading Zeros
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [21]:
import pandas as pd
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame")
print(df)
df['name'] = df['name'].str.upper()
print(df)

Original DataFrame
      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0
      name date_of_birth    age
0  ALBERTO     17/05/2002  18.5
1     GINO     16/02/1999  21.2
2     RYAN     25/09/1998  22.5
3    EESHA     11/05/2002  22.0
4     SYED     15/09/1997  23.0

In [28]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df.info())
df['count'] = list(map(lambda x: x.count("2"), df['date_of_birth']))
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name_code      5 non-null      object
 1   date_of_birth  5 non-null      object
 2   age            5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes
None
  name_code date_of_birth   age  count
0      c001    12/05/2002  18.5      3
1      c002    16/02/1999  21.2      1
2      c022    25/09/1998  22.5      1
3     c2002    12/02/2022  22.0      5
4     c2222    15/09/1997  23.0      0

In [29]:
df['Index'] = list(map(lambda x: x.find('22'), df['name_code']))
print(df)

  name_code date_of_birth   age  count  Index
0      c001    12/05/2002  18.5      3     -1
1      c002    16/02/1999  21.2      1     -1
2      c022    25/09/1998  22.5      1      2
3     c2002    12/02/2022  22.0      5     -1
4     c2222    15/09/1997  23.0      0      1