In [3]:
import pandas as pd

In [5]:
ds = pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [7]:
# Write a pandas program to convert a pandas module series to python list and it's Type

import pandas as pd
ds = pd.Series([2,4,6,8,10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas to List")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas to List
[2, 4, 6, 8, 10]
<class 'list'>

In [13]:
# Pandas Program to Add, Sub, Mul and Divide two pandas series

import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds = ds1 + ds2
print("Add Two Series")
print(ds)
ds = ds1-ds2
print("Sub Two Series")
print(ds)
ds = ds1*ds2
print("Mul Two Series")
print(ds)
ds = ds1/ds2
print("Div Two Series")
print(ds)

Add Two Series
0     3
1     7
2    11
3    15
4    19
dtype: int64
Sub Two Series
0    1
1    1
2    1
3    1
4    1
dtype: int64
Mul Two Series
0     2
1    12
2    30
3    56
4    90
dtype: int64
Div Two Series
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [15]:
# Write a Pandas Program to compare the elements of two pandas series

import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
# Comparing with Equals
print("Comparing the elements of the said Series:")
print("Equals")
print(ds1==ds2)
print("Greater")
print(ds1>ds2)
print("Lesser")
print(ds1<ds2)

Comparing the elements of the said Series:
Equals
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater
0    True
1    True
2    True
3    True
4    True
dtype: bool
Lesser
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [17]:
# Pandas Program to convert a dictonary to a pandas series
import pandas as pd
a = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print("Original Dict")
print(a)
new_series = pd.Series(a)
print("Pandas Series")
print(new_series)

Original Dict
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Pandas Series
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [25]:
# Write a pandas program to convert a Numpy array to Pandas series
import numpy as np
import pandas as pd

n = np.array([10,20,30,40,50])
print("Numpy Array")
print(n)
print(type(n))
print("Pandas Series")
new_series = pd.Series(n)
print(new_series)
print(type(new_series))

Numpy Array
[10 20 30 40 50]
<class 'numpy.ndarray'>
Pandas Series
0    10
1    20
2    30
3    40
4    50
dtype: int32
<class 'pandas.core.series.Series'>

In [26]:
# Write a Pandas Program to Convert the first column of a DataFrame as a Series
import pandas as pd
d = {'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
df = pd.DataFrame(data=d)
# Using iloc
s1 = df.iloc[:,0]
#alternatively we can directly refer the column by name
# s1 = df['col1']
print("\n 1st Column as a Series")
print(s1)
print(type(s1))

 1st Column as a Series
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
# Pandas program to convert a given series to an Array

ds = pd.Series(['100','200','Python','300.12','400'])
print("Original Data Series")
print(ds)
print('Series to an Aray')
a = np.array(ds)
print(a)
print(type(a))

Original Data Series
0       100
1       200
2    Python
3    300.12
4       400
dtype: object
Series to an Aray
['100' '200' 'Python' '300.12' '400']
<class 'numpy.ndarray'>

In [3]:
# Write a Pandas Program to Convert Series of Lists to one Series
import pandas as pd
s = pd.Series([
    ['Red','Green','White'],
    ['Red','Black'],
    ['Yellow']])
print("Original Series of List")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of List
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [4]:
# Write a pandas program to sort a given Series

import pandas as pd
s = pd.Series(['100','200','python','300.12','400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [10]:
# Write a pandas program to add some data to existing series

import pandas as pd
s = pd.Series(['100','200','python','300.12','400'])
print("Original Series")
print(s)
print('Data Series after adding some data')
new_s = pd.concat([s,pd.Series([500,'php'])],ignore_index=True)
print(new_s)

Original Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Data Series after adding some data
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [9]:
# Concatenating Two Series of Pandas
s = pd.Series([10,20])
s1 = pd.Series([30,40])
s_new = pd.concat([s,s1],ignore_index = True)
print(s_new)

0    10
1    20
2    30
3    40
dtype: int64

In [19]:
# Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print("Original Series")
print(s)
print("Subset of the above Data Series:")
n =6
new_s = s[0:5]
new_s2 = s[5:10]
print(new_s)
print(new_s2)

Original Series
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
dtype: int64
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [20]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.

import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series")
print(s)
print("Mean of the Series")
print(s.mean())
print('Standard Deviation')
print(s.std())

Original Data Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the Series
4.818181818181818
Standard Deviation
2.522624895547565

In [22]:
# Write a pandas program to get the items of a given series not present in another given series.
import pandas as pd
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
result = sr1[~sr1.isin(sr2)]
print('Original Series ')
print(sr1,sr2)
print(result)

Original Series
0    1
1    2
2    3
3    4
4    5
dtype: int64 0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
2    3
4    5
dtype: int64

In [26]:
# Write a pandas program to get the items which are not comoon of two given arrays
import numpy as np
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8])
sr11 = pd.Series(np.union1d(s1,s2))
print(sr11)
sr22 = pd.Series(np.intersect1d(s1,s2))
print(sr22)
result = sr11[~sr11.isin(sr22)]
print(result)

0    1
1    2
2    3
3    4
4    5
5    6
6    8
dtype: int64
0    2
1    4
dtype: int64
0    1
2    3
4    5
5    6
6    8
dtype: int64

In [ ]:
# 18 exercise